<!DOCTYPE html>
<html lang="en">
<!-- base.htmlの継承 -->
{% extends 'account/base.html' %}
{% load bootstrap5 %}

<!-- titleの編集 -->
{% block title %}Log In | PHOTO BOOK{% endblock %}

{% block active_inquiry %}active{% endblock %}

<!-- contentsの編集 -->
{% block contents %}
<div class="container" style="padding-top: 5rem;" >
    <div class="row">
        <div class="my-div-style">
            <h1>ログイン</h1>
            <!-- styleでcontentsのページを下げるため、padding-topを設定 -->
            <form method="post" style="padding-top: 5rem;" action="{% url 'account_login' %}">
                <!-- クロスサイトリクエストフォージェリっていうサイバー攻撃対策 → かかないとDjangoは403エラー出す -->
                {% csrf_token %}
                
                <div class="mb-4 col-4">
                    {% bootstrap_form form %}
                </div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="btn btn-primary" type="submit">ログイン</button>
                <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
    
</html>