<!DOCTYPE html>
<html lang="en">
<!-- base.htmlの継承 -->
{% extends 'account/base.html' %}
{% load bootstrap5 %}

<!-- titleの編集 -->
{% block title %}パスワードリセット | PHOTO BOOK{% endblock %}

<!-- contentsの編集 -->
{% block contents %}
<div class="container" style="padding-top: 5rem;">
    <div class="row">
        <div class="my-div-style">
            <h1>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h1>

           {% if token_fail %}
           {% url 'account_reset_password' as Password_reset_url %}
           <p>このパスワードリセット用リンクは無効になっています。 <a href="{{ passwd_reset_url }}">パスワード再申請</a></p>
           {% else %}
           {% if form %}
           <form action="{{ action_url }}" method="post">
            {% csrf_token %}
                <div class="mb-4 col-4">
                    {% bootstrap_form form %}
                </div>

                <button class="btn btn-primary" type="submit">変更</button>
           </form>
           {% else %}
           <p>パスワードは変更されています。</p>
           {% endif %}
           {% endif %}
        </div>
    </div>
</div>
{% endblock %}
    
</html>